li {
  list-style-type: none;
}

#target {
  display: flex;
  width: 1000px;
}

#current-user-container {
  background-color: lightblue;
  display: flex;
}

#picture-container {
  align-self: center;
  margin-right: 10px;
}

#current-user-details {
  align-self: center;
}

#pokemon-container {
  display: flex;
}

#favorite-pokemon {
  align-self: center;
}

#friends-list-container {
  min-width: 150px;
}

#friends-list-title {
  text-align: center;
}

#favorite-pokemon {
  text-transform: capitalize;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
